<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.weein.bigdata.dao.IBigdataGroupProductConfigurationMapper" >
  <resultMap id="BaseResultMap" type="com.weein.bigdata.base.entity.BigdataGroupProductConfigurationDO" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="group_id" property="groupId" jdbcType="VARCHAR" />
    <result column="product_id" property="productId" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, group_id, product_id, status, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from T_BIGDATA_GROUP_PRODUCT_CONFIGURATION
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from T_BIGDATA_GROUP_PRODUCT_CONFIGURATION
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.weein.bigdata.base.entity.BigdataGroupProductConfigurationDO" >
    insert into T_BIGDATA_GROUP_PRODUCT_CONFIGURATION (id, group_id, product_id, 
      status, create_time, update_time
      )
    values (#{id,jdbcType=VARCHAR}, #{groupId,jdbcType=VARCHAR}, #{productId,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.weein.bigdata.base.entity.BigdataGroupProductConfigurationDO" >
    insert into T_BIGDATA_GROUP_PRODUCT_CONFIGURATION
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="groupId != null" >
        group_id,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="groupId != null" >
        #{groupId,jdbcType=VARCHAR},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.weein.bigdata.base.entity.BigdataGroupProductConfigurationDO" >
    update T_BIGDATA_GROUP_PRODUCT_CONFIGURATION
    <set >
      <if test="groupId != null" >
        group_id = #{groupId,jdbcType=VARCHAR},
      </if>
      <if test="productId != null" >
        product_id = #{productId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.weein.bigdata.base.entity.BigdataGroupProductConfigurationDO" >
    update T_BIGDATA_GROUP_PRODUCT_CONFIGURATION
    set group_id = #{groupId,jdbcType=VARCHAR},
      product_id = #{productId,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectList" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
     from 
     T_BIGDATA_GROUP_PRODUCT_CONFIGURATION
    <where >
      <if test="id != null" >
         and id= #{id,jdbcType=VARCHAR}
      </if>
      <if test="groupId != null" >
         and group_id= #{groupId,jdbcType=VARCHAR}
      </if>
      <if test="productId != null" >
         and product_id= #{productId,jdbcType=VARCHAR}
      </if>
      <if test="status != null" >
         and status= #{status,jdbcType=INTEGER}
      </if>
      <if test="createTime != null" >
         and create_time= #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null" >
         and update_time= #{updateTime,jdbcType=TIMESTAMP}
      </if>
    </where>
    <if test="order != null" >
      <![CDATA[  order by  ${order} ]]>
    </if>
  </select>
  <select id="selectPageList" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
     from 
     T_BIGDATA_GROUP_PRODUCT_CONFIGURATION
    <where >
      <if test="id != null" >
         and id= #{id,jdbcType=VARCHAR}
      </if>
      <if test="groupId != null" >
         and group_id= #{groupId,jdbcType=VARCHAR}
      </if>
      <if test="productId != null" >
         and product_id= #{productId,jdbcType=VARCHAR}
      </if>
      <if test="status != null" >
         and status= #{status,jdbcType=INTEGER}
      </if>
      <if test="createTime != null" >
         and create_time= #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null" >
         and update_time= #{updateTime,jdbcType=TIMESTAMP}
      </if>
    </where>
    <if test="order != null" >
      <![CDATA[  order by  ${order} ]]>
    </if>
    <if test="page != null" >
      <![CDATA[  limit #{page.begin}, #{page.length} ]]>
    </if>
  </select>
  <select id="selectCount" resultType="int" parameterType="java.util.Map" >
     select
     count(1)
     from 
     T_BIGDATA_GROUP_PRODUCT_CONFIGURATION
    <where >
      <if test="id != null" >
         and id= #{id,jdbcType=VARCHAR}
      </if>
      <if test="groupId != null" >
         and group_id= #{groupId,jdbcType=VARCHAR}
      </if>
      <if test="productId != null" >
         and product_id= #{productId,jdbcType=VARCHAR}
      </if>
      <if test="status != null" >
         and status= #{status,jdbcType=INTEGER}
      </if>
      <if test="createTime != null" >
         and create_time= #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null" >
         and update_time= #{updateTime,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>
  <select id="selectOne" resultMap="BaseResultMap" parameterType="com.weein.bigdata.base.entity.BigdataGroupProductConfigurationDO" >
    select 
    <include refid="Base_Column_List" />
     from 
     T_BIGDATA_GROUP_PRODUCT_CONFIGURATION
    <where >
      <if test="id != null" >
         and id= #{id,jdbcType=VARCHAR}
      </if>
      <if test="groupId != null" >
         and group_id= #{groupId,jdbcType=VARCHAR}
      </if>
      <if test="productId != null" >
         and product_id= #{productId,jdbcType=VARCHAR}
      </if>
      <if test="status != null" >
         and status= #{status,jdbcType=INTEGER}
      </if>
      <if test="createTime != null" >
         and create_time= #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null" >
         and update_time= #{updateTime,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>
  
  <delete id="deleteByGroupId" parameterType="java.lang.String" >
    delete from T_BIGDATA_GROUP_PRODUCT_CONFIGURATION
    where group_id= #{groupId,jdbcType=VARCHAR}
  </delete>
</mapper>